<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("User", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li id="userId"></li>
                    <li id="inout"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Đăng nhập</h1><br>
                <form method="POST">
                    <input type="text" id="Username" name="Username" placeholder="Username">
                    <input type="password" id="Password" name="Password" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                    <p class="text-danger" id="message"></p>
                </form>

                <div class="login-help">
                    <a href="#">Đăng ký</a> - <a href="#">Quên mật khẩu</a>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            var token = sessionStorage.tokenKey;
            //var headers = {};
            if (token) {
                $("#userId").append('<a href="#">' + sessionStorage.userName + '</a>');
                $("#inout").append('<a href="#" class = "logout">Logout</a>');
                //headers.Authorization = 'Bearer ' + token;
            }
            else {
                $("#inout").append('<a href="#" data-toggle="modal" data-target="#login-modal">Login</a>');
            }

            $(document).on("click", ".logout", function () {
                sessionStorage.removeItem('tokenKey');
                sessionStorage.removeItem('userName');
                window.location.href = "http://localhost:49918";
            });

            $(document).on("click", ".login", function () {
                var k = 0;
                var loginData = {
                    grant_type: 'password',
                    username: $("#Username").val(),
                    password: $("#Password").val()
                };
                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: loginData,
                    async: false,
                    statusCode: {
                        200: function () {
                            console.log("200 - Success");
                        },
                        404: function (request, status, error) {
                            console.log("404 - Not Found");
                            console.log(error);
                        },
                        400: function (request, status, error) {
                            console.log("400 - Bad Request");
                            console.log(error);
                            $('#message').empty();
                            $('#message').append("Sai tai khoan hoac mat khau");
                        }
                    },
                }).done(function (data) {
                    sessionStorage.setItem("tokenKey", data.access_token);
                    sessionStorage.setItem("userName", data.userName);
                    k = 1;
                }).fail(function (data) {
                    console.log(data.status);
                });
                if (k == 0) {
                    return false;
                }
                else {
                    return true;
                }
            });
        });
    </script>
</body>
</html>
